# environment
NODE_ENV=development
PORT=9000

# database
DB_URL=postgresql://postgres:root@localhost:5432/DB_LOGISTIK

# crypto
SECRET_KEY=U2FsdGVkX19keaNhiBfdNSWnKA2a8Z5deBu/KkU6BNg=

# jwt
JWT_EXPIRATION=30d
JWT_REFRESH_EXPIRATION=60d
TOKEN_SECRET=U2FsdGVkX1/hnA2S3l0Evi+whG73WiOrplJA5fcfe2o=
REFRESH_TOKEN_SECRET=U2FsdGVkX18LvuBcY6prEGXDZhDoBa7O0GAUSzTWzdk=